body {
    display: flex;
    justify-content: center;
    background: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    background-image: url('/images/cloud.png');
    background-size: cover;

}

.card {
    background: black;
    opacity: .5;
    height: 60vh;
    width: 45vh;
    border-radius: 50px;
    flex-wrap: wrap;
    color: white;
    padding: 2em;
    margin-top: 10em;
    border: 5px solid rgba(255, 255, 255, 0.18);
    box-shadow: 5px 18px 32px 10px rgba(31, 38, 135, 1.2);
    border: 1px solid rgba(255, 255, 255, .18);

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: .5em;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background: rgba(255, 255, 255, 0.717);
    color: white;
}

button:hover {
    background: greenyellow;
}

.search {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 20px;
    height: 28px;
    width: 220px;
    font-size: 155%;

    font-family: 'Open Sans', sans-serif;
    color: greenyellow;
    background-color: black;

}

.weather-body {
    background-color: black;
    border-radius: 30px;
    height: 35vh;
}

.city {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    letter-spacing: .325rem;

}

.date {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.temp {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    color: greenyellow;
}

.humidity {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;

}

.humidity {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.weather {

    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.icon {

    display: flex;
    justify-content: center;

}

.date2 {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

#city-error {
    margin-left: 20px;
    font-size: 20px;
}

#result-error {
    margin-left: 00px;
    font-size: 20px;
}

@media (max-width: 576px) {
    span {
        padding: 30px;
    }

    .date {
        display: none;
    }

    .min {
        display: none;
    }

    .card {
        width: 60vw;
        height: 65vh;

    }

    .search {
        width: 120px;
    }
}

@media(min-width: 576px) {
    .date2 {
        display: none;
    }
}